:root {
    --color1:  #394A59;
    --color2:  #D9CBA3;
    --color3:  #BF9B7A;
    --color4:  #F28B66;
    --color5:  #D96262;

    --color6:  #05080D;
    --color7:  #141A26;
    --color8:  #516073;
    --color9:  #A8B5BF;
    --color10: #F2F2F2;

    --color11: #82BF56;
}

* {
    box-sizing: border-box;
}

html, body {
    padding: 0;
    margin: 0;
    font-family: 'Zen Old Mincho', serif;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

/* Header */

.header {
    display: flex;
    gap: 1rem;
    background-color: var(--color2);
    color: var(--color1);
    padding: 1rem 0 1rem 1rem;
    border-bottom: 1px solid var(--color1);
    z-index: 1;
    box-shadow: 0 0.4rem 2rem -0.2rem;
}

.header h1 {
    font-weight: 900;
    font-size: 3rem;
    margin: 0;
}

/* Books */

#books-container {
    display: flex;
    gap: 4.65rem;
    flex-wrap: wrap;
    flex: 1 0 auto;
    padding: 2rem 6rem;
    background-color: var(--color3);
}

/* Card */

.book-card {
    position: relative;
    width: 14rem;
    height: 21rem;
    background-color: var(--color10);
    box-shadow: 0 0.3rem 1rem 0.1rem rgba(57, 74, 89, 0.5), 0 6px 20px 0 rgba(57, 74, 89, 0.5);
    transition: transform 0.3s;
}

.book-card.pop {
    transform: scale(0.001);
}

.book-info {
    visibility: hidden;
    opacity: 0;
    transition: 0.5s ease;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    color: var(--color6);
    font-size: 1.1rem;
}

.book-prop {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.2rem;
    flex: 1 0 auto;
}

.prop:hover {
    overflow: auto;
}

.prop, .status-info {
    overflow: hidden;
    font-weight: 900;
    padding: 0 0.2rem;
}

.book-value, .status-info span {
    font-weight: 700;
    color: var(--color8);
}

.status-info {
    text-align: center;
    font-size: 1.5rem;
}

.status-msg {
    cursor: pointer;
}

.status-info span, .status-info i {
    display: none;
}

.status-info.reading span, .status-info.reading i.fa-book-reader {
    display: inline;
    color: #506AD4;
}

.status-info.not-read span, .status-info.not-read i.fa-book-open {
    display: inline;
    color: var(--color5);
}

.status-info.read span, .status-info.read i.fa-check-circle {
    display: inline;
    color: #72A603
}

.status-info.reading i.fa-book-reader, .status-info.not-read i.fa-book-open,
.status-info.read i.fa-check-circle {
    margin-left: 0.8rem;
}

.book-card .book-img {
    transition: opacity 1s;
    width: 100%;
    height: 100%;
    user-select: none;
}

.book-card:hover .book-img {
    opacity: 0.1;
}

.book-card:hover .book-info {
    visibility: visible;
    opacity: 1;
}

#checkmark {
    margin: 0;
    border: 2px solid var(--color1);
    cursor: pointer;
}

/* Card buttons */

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    opacity: 1;
    height: 3rem;
    margin-bottom: 0.5rem;
}

.edit, .delete {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: none;
    font-size: 1.5rem;
    width: 3rem;
    height: 3rem;
    border-radius: 1.5rem;
}

.edit {
    background-color: #02734A;
    color: var(--color11);
}

.delete {
    background-color: #D91424;
    color: var(--color4);
}

.edit:hover, .delete:hover {
    transform: scale(1.1, 1.1);
    transition: transform 0.3s;
    color: white;
}

/* dropdown */

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    position: absolute;
    bottom: 110%;
    left: -33%;
    z-index: 1;
    display: flex;
    visibility: hidden;
    flex-direction: column;
    gap: 0.2rem;
}

.dropdown-content.show {
    visibility: visible;
    animation: showDropDown;
    animation-duration: 0.5s;
}

.dropdown-content span {
    font-size: 1rem;
    text-align: center;
    cursor: pointer;
    background-color: var(--color11);
    border: 1px solid var(--color1);
    padding: 0.3rem;
    width: 5rem;
    color: var(--color1);
    display: block;
    border-radius: 0.3rem;
}

.dropdown-content span:hover {
    color: var(--color10);
}

@keyframes showDropDown {
    0%   {transform: scale(0.001);}
    25%  {transform: scale(0.5, 0.1);}
    50%  {transform: scale(1, 0.8);}
    75%  {transform: scale(1, 1.3);}
    100% {transform: scale(1);}
}

/* Float button */

.float {
    position: fixed;
    cursor: pointer;
    width: 4rem;
    height: 4rem;
    bottom: 5rem;
    right: 1rem;
    background-color: var(--color11);
    color: var(--color10);
    border-radius: 2rem;
    text-align: center;
    box-shadow: 0 0.3rem 1rem 0.1rem rgba(25, 33, 39, 0.5), 0 6px 20px 0 rgba(38, 48, 58, 0.5);
    animation: rotationReverse 1s;
}

.float:hover {
    animation: rotation 1s;
    animation-fill-mode: forwards;
}

.float-btn {
    font-size: 1.5rem;
    margin-top: 1.27rem;
}

@keyframes rotation {
    from {
        transform: rotate(0deg) scale(1);
    }
    to {
        transform: rotate(360deg) scale(0.7);
    }
}

@keyframes rotationReverse {
    from {
        transform: rotate(360deg) scale(0.7);
    }
    to {
        transform: rotate(0deg) scale(1);
    }
}

/* Modal */

.modal-container {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    overflow: hidden;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.3);
}

.modal {
    box-shadow: 0 0.2rem 0.3rem rgba(0, 0, 0, 0.3);
    border-radius: 0.2rem;
    background-color: var(--color10);
    overflow: hidden;
    width: 32rem;
    max-width: 100%;
    margin: 0 1rem;
    transform: scale(0.001);
    transition: transform 0.3s;
}

.form-header {
    display: flex;
    align-items: center;
    gap: 1rem;
    background-color: var(--color2);
    color: var(--color1);
    padding: 1.5rem 2rem;
    border-bottom: 1px solid var(--color9);
    position: relative;
}

.form-header h2 {
    font-weight: 900;
    margin: 0;
}

.form-header .fa-book {
    font-size: 1.8rem;
}

.form-header .fa-window-close {
    font-size: 1.8rem;
    color: var(--color5);
    position: absolute;
    top: 0.2rem;
    right: 0.2rem;
    cursor: pointer;
}

.form {
    padding: 2rem;
}

.form-control {
    position: relative;
    margin-bottom: 0.3rem;
    padding-bottom: 1rem;
}

.form-control.no-display {
    display: none;
}

#read-form, #cover-form {
    padding-bottom: 0;
}

#cover-form {
    margin-top: 0.8rem;
    margin-bottom: 0;
}

#pages-read-form {
    margin: 0.5rem 0;
}

#read-form label {
    font-weight: 700;
    margin-right: 0.5rem;
}

.form-control label {
    display: inline-block;
    font-weight: 900;
    margin-bottom: 0.3rem;
}

.form-control input {
    border: 2px solid var(--color9);
    border-radius: 4px;
    display: block;
    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
    font-family: inherit;
    font-weight: 900;
}

.form-control.success input {
    border-color: var(--color11);
}

.form-control.error input {
    border-color: var(--color5);
}

.form-control i {
    visibility: hidden;
    position: absolute;
    color: var(--color8);
    top: 2.7rem;
    right: 1rem;
}

.form-control i.fa-font, .form-control i.fa-user, .form-control i.fa-book-open {
    visibility: visible;
}

.form-control.error i.fa-font, .form-control.success i.fa-font,
.form-control.error i.fa-user, .form-control.success i.fa-user,
.form-control.error i.fa-book-open, .form-control.success i.fa-book-open {
    visibility: hidden;
}

.form-control.success i.fa-check-circle {
    visibility: visible;
    color: var(--color11);
}

.form-control.error i.fa-exclamation-circle {
    visibility: visible;
    color: var(--color5);
}

.form-control.form-control.success i.fa-check-circle,
.form-control.error i.fa-exclamation-circle {
    animation-name: formIconAnimation;
    animation-duration: 0.3s;
}

@keyframes formIconAnimation {
    0%   {transform: scale(0.01);}
    25%  {transform: scale(0.1);}
    50%  {transform: scale(1);}
    75%  {transform: scale(1.5);}
    100% {transform: scale(1);}
}

.form-control small {
    visibility: hidden;
    color: var(--color5);
    font-weight: 900;
    position: absolute;
    bottom: -0.15rem;
    left: 0;
}

.form-control .file-error {
    bottom: -1.15rem;
}

.form-control.error small {
    visibility: visible;
}

.form button {
    background-color: #A7B741;
    border: 2px solid #A7B741;
    color: var(--color1);
    font-family: inherit;
    font-size: 1.3rem;
    font-weight: 900;
    cursor: pointer;
    border-radius: 1rem;
    padding: 0.6rem;
    display: block;
    width: 100%;
    margin-top: 2.3rem;
}

.form button:hover {
    color: var(--color10);
}

.form .choices {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.choices button {
    margin-top: 0.3rem;
}

/* Remove input arrows */

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* Create book cover modal */

.preview {
    text-align: center;
}

#preview-book-cover {
    margin: 1rem;
    width: 192px;
    height: 288px;
    border: 1px solid var(--color1);
    box-shadow: 0 0.3rem 1rem 0.1rem rgba(57, 74, 89, 0.5), 0 6px 20px 0 rgba(57, 74, 89, 0.5);
}

.color-customization {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 1rem 1.5rem 1rem;
    justify-content: center;
}

.customize-cover {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    margin-bottom: 1rem;
    font-size: 1.3rem;
    color: var(--color1);
}

.theme-container {
    text-align: center;
    font-size: 1.5rem;
    color: var(--color1);
}

#customize-cover-btn {
    background-color: #A7B741;
    border: 2px solid #A7B741;
    color: var(--color1);
    font-family: inherit;
    font-size: 1.3rem;
    font-weight: 900;
    cursor: pointer;
    border-radius: 1rem;
    padding: 0.6rem;
    display: block;
    width: 100%;
    margin-top: 1.5rem;
}

#customize-cover-btn:hover {
    color: var(--color10);
}

.btn-container {
    padding: 1rem;
}

.modal.pages {
    width: 24rem;
}

#increase-pages-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#increase-pages-form label {
    font-size: 1.3rem;
    margin-top: 1rem;
    margin-bottom: 0.3rem;
    color: var(--color1);
}

#increase-pages-form input {
    width: 80%;
    margin-bottom: 1.5rem;
}

#increase-pages-form button {
    background-color: #A7B741;
    border: 2px solid #A7B741;
    color: var(--color1);
    font-family: inherit;
    font-size: 1.3rem;
    font-weight: 900;
    cursor: pointer;
    border-radius: 1rem;
    padding: 0.6rem;
    display: block;
    width: 70%;
    margin-bottom: 1rem;
}

#increase-pages-form button:hover {
    color: var(--color10);
}

/* Footer */

.footer {
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: center;
    align-content: center;
    padding: 0.5rem 0;
    background-color: var(--color2);
    color: var(--color1);
    box-shadow: 0.4rem 0 2rem 0.2rem;
}

.footer h2 {
    margin: 0;
    font-weight: 700;
}

.footer a {
    display: flex;
}

/* GitHub animation */
@keyframes githubAnimation {
    0%   {transform: scale(1);}
    25%  {transform: scale(1.5, 0.8);}
    50%  {transform: scale(0.5, 1.1);}
    75%  {transform: scale(1, 0.8);}
    100% {transform: scale(1);}
}

.github-logo:hover {
    position: relative;
    animation-name: githubAnimation;
    animation-duration: 2s;
}