:root {
    --color1:  #394A59;
    --color2:  #D9CBA3;
    --color3:  #BF9B7A;
    --color4:  #F28B66;
    --color5:  #D96262;

    --color6:  #05080D;
    --color7:  #141A26;
    --color8:  #516073;
    --color9:  #A8B5BF;
    --color10: #F2F2F2;

    --color11: #82BF56;
}

/* Color Theme Swatches in Hex */

html, body {
    padding: 0;
    margin: 0;
    font-family: 'Zen Old Mincho', serif;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

/* Header */

.header {
    display: flex;
    gap: 1rem;
    background-color: var(--color2);
    color: var(--color1);
    padding: 1rem 0 1rem 1rem;
    border-bottom: 1px solid var(--color1);
    z-index: 1;
    box-shadow: 0 0.4rem 2rem -0.2rem;
}

.header h1 {
    font-weight: 900;
    font-size: 3rem;
    margin: 0;
}

/* Books */

.books-container {
    flex: 1 0 auto;
    padding: 2rem;
    background-color: var(--color3);
}

/* Card */

.book-card {
    position: relative;
    width: 12rem;
    height: 18rem;
    background-color: var(--color10);
    box-shadow: 0 0.3rem 1rem 0.1rem rgba(57, 74, 89, 0.5), 0 6px 20px 0 rgba(57, 74, 89, 0.5);
}

.book-info {
    opacity: 0;
    transition: 0.5s ease;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    color: var(--color6);
    font-size: 1.1rem;
}

.book-prop {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.2rem;
    flex: 1 0 auto;
}

.prop {
    font-weight: 900;
    padding: 0 0.2rem;
}

#book-title, #book-author, #book-pages {
    font-weight: 700;
    color: var(--color8);
}

.book-card #book-img {
    transition: opacity 1s;
    width: 100%;
    height: 18rem
}

.book-card:hover #book-img {
    opacity: 0.1;
}

.book-card:hover .book-info {
    opacity: 1;
}

#checkmark {
    margin-left: 0.4rem;
    cursor: pointer;
}

/* Card buttons */

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
    gap: 1rem;
}

#edit, #delete {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: none;
    border-radius: 1rem;
}

#edit img, #delete img {
    padding: 0.3rem;
    height: 60%;
    width: 60%;
}

#edit {
    background-color: var(--color11);
}

#delete {
    background-color: var(--color5);
}

#edit:hover, #delete:hover {
    transform: scale(1.1, 1.1);
    transition: transform 0.3s;
    color: white;
}

/* Footer */

.footer {
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: center;
    align-content: center;
    padding: 0.5rem 0;
    background-color: var(--color2);
    color: var(--color1);
    box-shadow: 0.4rem 0 2rem 0.2rem;
}

.footer h2 {
    margin: 0;
    font-weight: 700;
}

.footer a {
    display: flex;
}

/* GitHub animation */
@keyframes githubAnimation {
    0%   {transform: scale(1, 1);}
    25%  {transform: scale(1.5, 0.8);}
    50%  {transform: scale(0.5, 1.1);}
    75%  {transform: scale(1, 0.8);}
    100% {transform: scale(1, 1);}
}

.github-logo:hover {
    position: relative;
    animation-name: githubAnimation;
    animation-duration: 2s;
}